<div class="home-layout">
  <app-navbar-home></app-navbar-home>
  <div class="row home-content">
    <div class="col-3 home-col">
      <h4>Search</h4>
      <div class="home-filter-line"></div>
      <form class="form home-search-form" [formGroup]="form">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="Departure date"
                   name="dp" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <mat-icon>calendar_today</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group div-filter-by">
          <button class="btn btn-outline-primary apply-filter button-by" [ngClass]="{'button-by-hover': !filterByCountry}" type="submit" (click)="filterByCountry = false">City filter</button>
          <button class="btn btn-outline-primary apply-filter button-by" [ngClass]="{'button-by-hover': filterByCountry}"  type="submit" (click)="filterByCountry = true">Country filter</button>
        </div>
        <div class="form-group" *ngIf="!filterByCountry">
          <select class="form-control">
              <option selected>Departure city</option>
              <option>Paris</option>
              <option>Berlin</option>
              <option>Rome</option>
          </select>
        </div>
        <div class="form-group" *ngIf="!filterByCountry">
          <select class="form-control">
              <option selected>Arrival city</option>
              <option>Tokyo</option>
              <option>Berlin</option>
              <option>Paris</option>
          </select>
        </div>
        <div class="form-group" *ngIf="filterByCountry">
          <select class="form-control">
              <option selected>Departure country</option>
              <option>France</option>
              <option>Allemagne</option>
              <option>Italie</option>
          </select>
        </div>
        <div class="form-group" *ngIf="filterByCountry">
          <select class="form-control">
              <option selected>Arrival city</option>
              <option>France</option>
              <option>Allemagne</option>
              <option>Italie</option>
          </select>
        </div>
        <h5 class="home-budget">Income</h5>
        <div class="form-group">
          <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          min="1"
          max="1500"></mat-slider>
        </div>

        <div class="form-group row text-center apply-container">
          <button class="btn btn-outline-primary apply-filter" type="submit" (click)="this.selectedTrip = undefined">Apply filters</button>
        </div>
      </form>    
    </div>
    <div class="col-9 home-result" *ngIf="!selectedTrip">
      <div class="row home-result-row">
        <div class="card home-card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.studyabroad.com/sites/default/files/images/France-Study-Abroad-Programs.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nice - Perpignan</h5>
              <p class="card-text">Enjoy warm and beach with a fresh cotkail</p>
              <div class="home-card-footer">
                <span class="home-card-footer-price">300€</span>
                <span class="home-card-footer-wrapper">
                  <a class="btn btn-outline-primary home-details-button" (click)="this.selectedTrip = {}">Details</a>
                </span>
              </div>
            </div>
        </div>
        <div class="card home-card " style="width: 19rem;">
            <img class="card-img-top" src="https://www.studyabroad.com/sites/default/files/images/France-Study-Abroad-Programs.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nice - Perpignan</h5>
              <p class="card-text">Enjoy warm and beach with a fresh cotkail</p>
              <div class="home-card-footer">
                <span class="home-card-footer-price">300€</span>
                <span></span>
                <span class="home-card-footer-wrapper">
                  <a class="btn btn-outline-primary home-details-button" (click)="this.selectedTrip = {}">Details</a>
                </span>
              </div>
            </div>
        </div>
        <div class="card home-card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.studyabroad.com/sites/default/files/images/France-Study-Abroad-Programs.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nice - Perpignan</h5>
              <p class="card-text">Enjoy warm and beach with a fresh cotkail</p>
              <div class="home-card-footer">
                <span class="home-card-footer-price">300€</span>
                <span class="home-card-footer-wrapper">
                  <a class="btn btn-outline-primary home-details-button" (click)="this.selectedTrip = {}">Details</a>
                </span>
              </div>
            </div>
        </div>
        <div class="card home-card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.studyabroad.com/sites/default/files/images/France-Study-Abroad-Programs.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nice - Perpignan</h5>
              <p class="card-text">Enjoy warm and beach with a fresh cotkail</p>
              <div class="home-card-footer">
                <span class="home-card-footer-price">300€</span>
                <span class="home-card-footer-wrapper">
                  <a class="btn btn-outline-primary home-details-button" (click)="this.selectedTrip = {}">Details</a>
                </span>
              </div>
            </div>
        </div>
        <div class="card home-card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.studyabroad.com/sites/default/files/images/France-Study-Abroad-Programs.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nice - Perpignan</h5>
              <p class="card-text">Enjoy warm and beach with a fresh cotkail</p>
              <div class="home-card-footer">
                <span class="home-card-footer-price">300€</span>
                <span class="home-card-footer-wrapper">
                  <a class="btn btn-outline-primary home-details-button" (click)="this.selectedTrip = {}">Details</a>
                </span>
              </div>
            </div>
        </div>
        <div class="card home-card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.studyabroad.com/sites/default/files/images/France-Study-Abroad-Programs.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nice - Perpignan</h5>
              <p class="card-text">Enjoy warm and beach with a fresh cotkail</p>
              <div class="home-card-footer">
                <span class="home-card-footer-price">300€</span>
                <span class="home-card-footer-wrapper">
                  <a class="btn btn-outline-primary home-details-button" (click)="this.selectedTrip = {}">Details</a>
                </span>
              </div>
            </div>
        </div>
        <div class="card home-card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.studyabroad.com/sites/default/files/images/France-Study-Abroad-Programs.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nice - Perpignan</h5>
              <p class="card-text">Enjoy warm and beach with a fresh cotkail</p>
              <div class="home-card-footer">
                <span class="home-card-footer-price">300€</span>
                <span class="home-card-footer-wrapper">
                  <a href="" class="btn btn-outline-primary home-details-button" (click)="this.selectedTrip = {}">Details</a>
                </span>
              </div>
            </div>
        </div>
        <div class="card home-card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.studyabroad.com/sites/default/files/images/France-Study-Abroad-Programs.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nice - Perpignan</h5>
              <p class="card-text">Enjoy warm and beach with a fresh cotkail</p>
              <div class="home-card-footer">
                <span class="home-card-footer-price">300€</span>
                <span class="home-card-footer-wrapper">
                  <a href="" class="btn btn-outline-primary home-details-button" (click)="this.selectedTrip = {}">Details</a>
                </span>
              </div>
            </div>
        </div>
        <div class="card home-card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.studyabroad.com/sites/default/files/images/France-Study-Abroad-Programs.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nice - Perpignan</h5>
              <p class="card-text">Enjoy warm and beach with a fresh cotkail</p>
              <div class="home-card-footer">
                <span class="home-card-footer-price">300€</span>
                <span class="home-card-footer-wrapper">
                  <a class="btn btn-outline-primary home-details-button" (click)="this.selectedTrip = {}">Details</a>
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-9 home-details" *ngIf="selectedTrip">
      <app-travel-details [trip]="selectedTrip"></app-travel-details>
    </div>
  </div>
</div>
