
.home-search-form {
    width: 100%;
}

.home-content h4 {
    margin-top: 20px;
}

.home-col {
    box-shadow: 5px 5px 5px #888888;
}

.home-content .form-group {
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin-bottom: 30px !important;
}

.home-budget {
    margin-bottom: 20px;
}

mat-slider {
    width: 100%;
    color: #B0BEC5;
}

select {
    height: 40px !important;
}

.home-filter-line {
    border-bottom: 1px solid gainsboro;
    padding-top: 10px;
    margin-bottom: 20px;
}

.apply-filter {
    margin: auto;
    width: 100%;
    margin-right: 35px;
}

.apply-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-content {
    height: 100%;
}

.home-layout {
    height: 97%;
}

.div-filter-by {
    display: inline-block;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}


.button-by-hover {
    background-color: #2780E3;
    color: white;
}

.button-by {
    width: 185px;
    margin-right: 0px;
}

/* HOME RESULT */
.home-result {
    padding-top: 25px;
    height: 100%;
    overflow: auto;
}

.home-result-row {
    padding-left: 55px;
}

.home-result::-webkit-scrollbar {
    width: 12px;
    background: transparent;
  }
  
.home-result::-webkit-scrollbar-thumb {
    background-color: #96C8FE;
  }
  

.home-result-trip {
    border-left: 0px solid white;
    border-right: 0px solid white;
    height: 100px;
}

.home-card {
    margin-right: 30px;
    margin-bottom: 33px;
}

.home-details-button {
    text-align: right !important;
}

.home-card-footer {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
}

.home-card-footer-price {
    text-align: left !important;
    width: 50%;
    display: inline-block;
}

.home-card-footer-wrapper {
    width: 50%;
    text-align: right;
    display: inline-block;
}

.home-details {
    width: 100%;
    height: 100%;
    padding: 0px;
}
