<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/home">
      <img src="./assets/img/brand.ico" alt="Marque" width="40" height="40" />
    </a>
    <div class="home-header">
        Have a nice trip !
      </div>
      <div class="dropdown navbar-profile">
        <button class="btn navbar-profile-button" placement="bottom" ngbTooltip="menu" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon class="navbar-home-icon">person_pin</mat-icon>
        </button>
        <div class="dropdown-menu navbar-dropw" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" (click)="goToMyReservation()">My reservations</a>
            <a class="dropdown-item" (click)="goToMyHome()">Sign out</a>
        </div>
      </div>
</nav>

