<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/admin/circuit">Circuit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/etape">Etape</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/lieu">Lieu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/client">Client</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/admin">Administrateur</a>
    </li>
</ul>