<div class="row" style="height: 100%">
    <div class="col-3" style="height: 100%; border-right: 1px solid black;">
        <ul class="list-group">
            <li class="list-group-item">Circuit</li>
            <li class="list-group-item">Etape</li>
            <li class="list-group-item">Lieu</li>
            <li class="list-group-item">Client</li>
            <li class="list-group-item">Administrateur</li>

        </ul>
    </div>
    <div class="col-9" style="height:100%">
        
    </div>
</div>