/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cosmo/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Questrial|Pacifico');

html {
    background: #FFF;
}

html, body {
    height: 100%;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.col-12 {
    padding-right: 0px !important;
}

text-center {
    text-align: center;
}