<div class="details-layout">
  <div class="row" style="height: 100%">
    <div class="col-8 details-description">
      <div class="details-description-header">
        De Paris à Barcelone
      </div>
      <div class="details-description-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae ante nec leo pellentesque gravida. Nunc efficitur ipsum
        sed mi interdum vehicula. Vestibulum vulputate eros nec suscipit posuere. Cras a velit eu arcu hendrerit porttitor
        a ut ligula. Maecenas convallis tortor a est placerat elementum. Donec non leo eget odio venenatis euismod. Aliquam
        quis tortor pellentesque, fringilla turpis eget, finibus justo. Aenean orci risus, volutpat ornare tincidunt pulvinar,
        viverra ac felis.
      </div>
      <div class="details-description-header">
          En passant par...
      </div>
      <div class="details-description-content">
        <ul>
          <li>
            <b>Paris</b>, le <b>13/07/2018</b> et pour une durée de <b>1 jour</b>, avec une visite de <b>la Tour Eiffel</b> pour <b>3€</b>
          </li>
          <li>
            <b>Vimy</b>, le <b>14/07/2018</b> et pour une durée de <b>2 jour</b>, avec une visite du <b>crématorium</b> pour <b>5€</b>
          </li>
          <li>
            <b>Barcelone</b>, le <b>16/07/2018</b> et pour une durée de <b>2 jour</b>, avec une visite de <b>la Sagrada Familia</b> pour <b>10€</b>
          </li>            
        </ul>
      </div>

      <div class="details-description-header">
          En compagnie de...
      </div>
      <div class="details-description-content">
          <ul>
              <li>
                Auguste DUPONT
              </li>
              <li>
                Nicolas TURCHI
              </li>
              <li>
                Arthur VERDIER
              </li>            
            </ul>
      </div>

    </div>
    

    <div class="col-4">
      <img src="https://www.studyabroad.com/sites/default/files/images/France-Study-Abroad-Programs.jpg" alt="" class="img-size">
      <table class="table-details">
        <tr>
          <td class="details-header">Date de départ</td>
          <td class="details-value">13/07/2018</td>
        </tr>
        <tr>
          <td class="details-header">Nombre de place disponible</td>
          <td class="details-value">15</td>
        </tr>
        <tr>
          <td class="details-header">Durée du voyage</td>
          <td class="details-value">5 jours</td>
        </tr>
      </table>
      <table class="table-price">
        <tr>
          <td class="details-price-text">Prix TTC</td>
          <td class="details-price">300€</td>
        </tr>
      </table>
      <nav class="navbar navbar-light bg-light detail-navbar">
        <button *ngIf="alreadyReserve" class="btn btn-primary btn-reserv" (click)="openReservationModal()">Modifier la liste des participants</button>
        <button *ngIf="!alreadyReserve" class="btn btn-primary btn-reserv" (click)="openReservationModal()">Réserver</button>
        
      </nav>
    </div>
  </div>
</div>
